@model SGP.Models.Pago

@{
    ViewBag.Title = "Upload Image";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload Image</h2>

@using (Html.BeginForm("UploadImage", "Estudiantes", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(model => model.ValorPago, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.ValorPago, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ValorPago, "", new { @class = "text-danger" })
    </div>
    
    <div class="form-group">
        <label for="file">Select Image</label>
        <input type="file" name="file" />
    </div>
    
    <input type="submit" value="Upload" />
}
